Source: ros-groovy-gazebo-ros-pkgs
Section: misc
Priority: extra
Maintainer: John Hsu <hsu@osrfoundation.org>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin
Homepage: http://gazebosim.org/wiki/Tutorials#ROS_Integration
Standards-Version: 3.9.2

Package: ros-groovy-gazebo3-ros-pkgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-gazebo3-msgs, ros-groovy-gazebo3-plugins, ros-groovy-gazebo3-ros
Conflicts: ros-groovy-gazebo-ros-pkgs, ros-groovy-gazebo-ros-pkgs-current
Description: Interface for using ROS with the Gazebo simulator.
